body {
  font-family: 'Open Sans', sans-serif;
  color: #011627;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2EC4B6;
  text-align: center;
}